.keys-box
  .key.white-key{"data-chromatic": 0}
  .key.black-key{"data-chromatic": 1}
.keys-box
  .key.white-key{"data-chromatic": 2}
  .key.black-key{"data-chromatic": 3}
.keys-box
  .key.white-key{"data-chromatic": 4}

.keys-box
  .key.white-key{"data-chromatic": 5}
  .key.black-key{"data-chromatic": 6}
.keys-box
  .key.white-key{"data-chromatic": 7}
  .key.black-key{"data-chromatic": 8}
.keys-box
  .key.white-key{"data-chromatic": 9}
  .key.black-key{"data-chromatic": 10}
.keys-box
  .key.white-key{"data-chromatic": 11}