.contents
  .keys
    .white_key#key_c4
    .black_key#key_cis4
    .white_key#key_d4
    .black_key#key_es4
    .white_key#key_e4

    .white_key#key_f4
    .black_key#key_fis4
    .white_key#key_g4
    .black_key#key_as4
    .white_key#key_a4
    .black_key#key_b4
    .white_key#key_h4
    
    .white_key#key_c5
  .texts
    .note_name
    .